body {
    font-family: Arial, sans-serif;
    background-color: #000000;
    margin: 0;
    padding: 20px;
}

.contenedor {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    background-color: #e6e6e6;
    border-radius: 8px;
    box-shadow: 0 0 10px rgb(197, 235, 31);
    text-align: center;
}

h1 {
    color: #1f0074;
}

nav ul {
    list-style-type: none;
    padding: 0;
}

nav ul li {
    margin: 10px 0;
}

nav ul li a {
    text-decoration: none;
    color: #2f33ff;
    font-size: 18px;
    transition: color 0.3s;
}

nav ul li a:hover {
    color: #020867;
}
